<form method="post" action="{{ path('app_receptioniste_delete', {'id': receptioniste.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ receptioniste.id) }}">
    <button class="btn btn-lg btn-danger">Delete</button>
</form>
