{% extends 'base.html.twig' %}

{% block title %}Edit Infirmiere{% endblock %}

{% block content%}
    <h1>Edit Infirmiere</h1>

    {{ include('infirmiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_infirmiere_index') }}">back to list</a>

    {{ include('infirmiere/_delete_form.html.twig') }}
{% endblock %}
