<form method="post" action="{{ path('app_prise_service_delete', {'id': prise_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prise_service.id) }}">
    <button class="btn btn-lg btn-danger">Delete</button>
</form>
