body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body {
    display: flex;
    flex: 1;
}

#sidebar {
    width: 70px; /* Largeur de la barre latérale */
    min-width: 70px;
    background-color: #0e2238;
    color: white;
    transition: all .25s ease-in-out;
    position: relative;
}

#sidebar.expand {
    width: 260px; /* Largeur de la barre latérale lorsqu'elle est étendue */
    min-width: 260px;
}

#content {
    margin-left: 70px; /* Espace pour la barre latérale */
    padding: 20px;
    flex-grow: 1;
    overflow: auto; /* Pour les barres de défilement si nécessaire */
}
