{% extends 'base.html.twig' %}

{% block title %}Edit Laboratin{% endblock %}

{% block body %}
    <h1>Edit Laboratin</h1>

    {{ include('laboratin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_laboratin_index') }}">back to list</a>

    {{ include('laboratin/_delete_form.html.twig') }}
{% endblock %}
